* {
    box-sizing: border-box;
    font-family: "Open-sans", sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}


.levi {
    display: inline-block;
    width: 25%;
    height: 100%;
    background-color: #364a56;
    padding: 10px 20px;
}

.desni {
    float: right;
    width: 75%;
    height: 100%;
}

.logo img {
    width: 100%;
    max-width: 180px;
}

.meni {
    color: white;
}

.meni ul {
    list-style: none;
    padding-left: 0;
}

.meni li {
    margin: 30px 0;
}

.plus {
    float:right;
}

.glava {
    background-color: #fc0;
    height: 50px;
}

.vsebina {
    padding: 0 100px;
}


.glavna-slika img {
    width: 100%;
}

h3 {
    font-size: 28px;
    margin-bottom: 0;
}

h4 {
    font-weight: 300;
    color: grey;
    margin-top: 0;
}



